PORT=3000
TARGET_CODEBASE=
NEO4J_URI=neo4j+s://d71486ee.databases.neo4j.io
NEO4J_USERNAME=d71486ee
NEO4J_PASSWORD=H7_tLC66CNXPycRuMYGVFMyzIOlZlmsefXPOzowrv2U
NEO4J_DATABASE=d71486ee
AURA_INSTANCEID=d71486ee
AURA_INSTANCENAME=bug dependency tracker
